@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "sans-serif";
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card img {
  width: 100%;
  max-width: 60%;
}

.thats-all {
  margin-bottom: 50px;
}

.products {
  background-color: #dcdcdc;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 60px auto;
  padding: 20px !important;
}

@media (min-width: 768px) {
  .card {
    width: calc(25% - 15px);
  }
}

@media (min-width: 1064px) {
  .container {
    width: 984px;
    padding: 0 20px;
  }

  .card {
    width: calc(20% - 16px);
  }
}

@media (max-width: 1064px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 10px);
  }
}