@charset "UTF-8";

/**
 * DEFAULT
**/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

div,
header,
footer,
main,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html,
body {
  width: 100%;
  height: auto;
}

body,
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
html a,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

:active,
:focus {
  outline: none;
}

button,
input {
  outline: none;
}

/**
 * Миксин который позволяет создавать отзывчивые свойства.
 * Их значение меняется в зависимости от размера экрана
**/

/**
 * BLOCKS
**/

.container {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  height: 0;
  width: 0;
}

.main-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.card img {
  width: 100%;
  max-width: 60%;
}

.thats-all {
  margin-bottom: 50px;
}

.products {
  background-color: #dcdcdc;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 60px auto;
  padding: 20px !important;
}

/**
 * PAGES
**/

@media (min-width: 768px) {
  .card {
    width: calc(25% - 15px);
  }
}

@media (min-width: 1064px) {
  .container {
    width: 984px;
    padding: 0 20px;
  }

  .card {
    width: calc(20% - 16px);
  }
}

@media (max-width: 1064px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 10px);
  }
}